.Bottom{
    margin-top: 1vh;
    margin-right: 15vh;
    float: right;  
    font-size: 1.3em;
}

button{
    border: none; 
    background: none;
    font-family: 'Caveat', cursive;
    font-size:larger;
}
