.Header
{
    display: flex;
    width: 100%;
    height: 17vh;
}
.Branding,.profileContainer
{
    padding: 1vh 7.5vw;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 3vh;
    align-items: center;
    background-color: rgba(91, 156, 165, 0.616);
    
}

.Branding img,.profileContainer img
{
    height: 10vh;
    
}
.Branding h1,h4
{
   
    display: inline-block;
    font-family: 'Special Elite', cursive;
}
.Branding h4
{
    font-size: small;
}
.profileContainer
{
    display: flex;
    flex-direction: row-reverse;
      
}
.profileContainer div
{
    display: flex;
    align-items: center;
    
}
.profileContainer div i{
    color: rgb(54, 54, 54) ;
}
#user{
    color: rgb(54, 54, 54) ;
}
.profileContainer > div {
    margin-left: 60px;
}
.bienve{
    color: rgb(32, 31, 31) ;
}
.profileContainer button
{
    height: fit-content;
    background: transparent;
    border: none;
    
}
@media (max-width: 600px){
    .Branding{
        display: none;
    }
    .bienve{
        margin: 0 0 0 2em !important;
    }
    .Branding,.profileContainer{
        padding:0;
        margin: 0;
        padding-right: 1em;
        padding-left: 0 !important;
        background-color: rgba(91, 156, 165, 0.616);
        width:100%;
    }
}
