.pestania
{
  margin: 1.5vh 5vw;
  width: 20vw;
  min-width: 285px;
  display: inline-block;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: 'Akaya Kanadaka', cursive;
  box-shadow: 10px 5px 5px rgb(59, 136, 126);
  padding: 5px;
  padding-bottom: 25px;
} 

::-webkit-scrollbar{
  width: 1vh;
}

::-webkit-scrollbar-track{
  box-shadow: grey;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb{
  background: rgba(128, 128, 128, 0.534);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(92, 91, 91, 0.726);
}
h3{
  font-size: 3.7vh;
}

.pestania .headerPestania
{
  text-align: center;
}
.contenidoPestania
{
  height: 80%;
  overflow-y: scroll;
  
}
.addTaskButton
{
  text-align: center;
  font-size: 32px;
  margin-right: 0px;
  margin-bottom: 10px;
  
}














