.contenidoEstadistica img
{
    width: 90%;
    height: 30%;
    margin-left: 7%;
    margin-right: auto;
}
.contenidoEstadistica
{
    background-color: rgb(255, 255, 255);

}
.headerEstadistica .tituloPestania{
    margin-left: 10%;
}