.pestania
{
  margin: 0 5vw;
  width: 25vw;
  display: inline-block;
  height: 70vh;
  background-color: #FFF;
  border-radius: 10px;
  font-family: 'Akaya Kanadaka', cursive;
  box-shadow: 10px 5px 5px rgb(59, 136, 126);
} 

.pestania:hover{
  transform: scale(1.05);
  transition: all .25s;
}
h3{
  font-size: 3.7vh;
}

.pestania .headerPestania
{
  text-align: center;
}















