.container
{
    width: 1000px;
    height: 14vh;
    padding: 0;
    margin-top: 0;
    background-color:rgba(91, 156, 165);
    display: flex;
    justify-content: space-between;
    padding-left:50px;
    padding-right: 50px;
    align-items: center;
    display: none;
    transition: 300ms;
    list-style: none;
}
.container li:hover
{
    border-radius: 100px;
    padding: 10px;
    background-color:rgba(7, 226, 255, 0.616);
    transition: 300ms;
    font-weight: 500;
}
.opened
{
    display: inherit;
    transition: 300ms;
}
@media (max-width: 1200px)
{
    .container
    {
        height: 100vh;
        z-index: 100;
        flex-flow: column;
        justify-content: flex-start;
        position: relative;
        top: 0;
        width: 20vw;
        bottom: 0;
    }
    .container li
    {
        margin-top: 10px;
        margin-bottom: 100px;
    }
}