.container
{
    width: 1000px;
    height: 14vh;
    padding: 0;
    margin-top: 0;
    background-color:rgba(91, 156, 165);
    display: flex;
    justify-content: space-between;
    padding-left:50px;
    padding-right: 50px;
    align-items: center;
    display: none;
    transition: 300ms;
    font-size: 1.1em;
    list-style: none;
    /* background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px; */
    /* background-color: rgb(78, 134, 141);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
    background-color: rgb(81, 101, 104);
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}
.container li:hover
{
    border-radius: 100px;
    padding: 10px;
    background-color:rgba(138, 169, 173, 0.616);
    transition: 300ms;
    font-weight: 500;
}
.opened
{
    display: inherit;
    transition: 300ms;
}
@media (max-width: 1200px)
{
    .container
    {   
        height:170.3vh;
        height: 100vh;
        z-index: 100;
        flex-flow: column;
        justify-content: flex-start;
        position:relative;
        top: 0;
        width: 0.5vw;
        bottom: 0;
    }
    .container li
    {
        margin-top: 10px;
        margin-bottom: 100px;
    }
}