.mainContent{
    margin: 3vh auto;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: xx-large;
    width: 50%;
    border-radius: 1.8em;
}

.imagen{
    border-radius: 1.8em;
    box-shadow: 5px 5px 7px rgba(34, 32, 32, 0.7);
}

.homePage{
    color:rgba(48, 36, 36, 0.7);
    margin: 6vh auto;
    font-size: x-large;
    text-decoration: none;
    margin: auto 1vw;
    color: #b1b5f6;
}

.homePage:hover{
    color: rgb(35, 206, 206);
}
.message{
    text-align:center;
    color: #9DA5AB;
}
